[Key]
OpenRouterKey = sk-or-v1-*********************************************
ZhiPuKey = **********************************************
Name = 小宇同学
# DeepseekKey = sk-*******************************